
<h2 style="color:white; margin-bottom:40px;">Option</h2>
<div class="table-responsive ">
            <table class="table  table-hover table-striped table-dark table-sm">
                <thead>
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Nom option</th>
                    <th scope="col">image</th>
                    <th scope="col">cumulative</th>
                    <th scope="col">description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">ID sous familles</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>
                <tr>
                    <td>1212129</td>
                    <td>full-stack</td>
                    <td>http//www.adadadiaij.com</td>
                    <td>123</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, odio. Ex ullam veniam tenetur enim blanditiis quasi recusandae, quaerat voluptatem dolores. Tempore libero mollitia suscipit ex voluptate maxime quas sint!</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>10-10-2022 10:05:04 am</td>
                    <td>1212129</td>
                </tr>

                </tbody>
            </table>
</div>
