.sidenav{
    background-color: white;
    height:100%;
  }
  .nav-item a{
    color:black !important;
    opacity:0.6;
    font-size:18px;
  }
  .nav-item i {
    margin:0px 5px;
  }
  
  .nav-item a:hover{
    color: #0062fe !important;
    opacity:1;
  }
  .nav-item i :hover{
    color:#1E6FF0 ;
  }
  .nav-item:hover{
    border-left: 4px solid #1E6FF0 ;
  }
  