<form>
    <h1>Edit sous famille</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">nom direction</label>
        <input type="text" class="form-control" [(ngModel)]="sousFamille.nomSousFamille" name="nomSousFamille"  id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Code</label>
        <input type="text" class="form-control" [(ngModel)]="sousFamille.idFamille" name="idFamille"  id="exampleFormControlInput1" placeholder="">
    </div>
    <button type="submit" class="btn btn-success" (click)="edit()">submit</button>
</form>