<form>
    <h1>Add sous Famille</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nom Famille</label>
        <input type="text" class="form-control" [(ngModel)]="sousFamilles.nomSousFamille" name="nomSousFamille"  id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ID Direction</label>
        <input type="text" class="form-control" [(ngModel)]="sousFamilles.idFamille" name="idFamille"  id="exampleFormControlInput1" placeholder="">
    </div>
    <button type="submit" class="btn btn-success" (click)="createSousFamille()">submit</button>
</form>
