<!-- Begin Navbar 
<app-navbar></app-navbar>
 End Navbar -->

<!-- Begin SideBar -->
<!-- <app-sidebar></app-sidebar> -->
<!-- End SideBar -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-2 pt-5">
      <app-sidebar class="d-none d-xl-block"></app-sidebar>
      <div class="d-block d-xl-none">
        <app-offcanvas-sidebar></app-offcanvas-sidebar>
      </div>
    </div>
    <div class="col-sm-12 col-xl-10 mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Begin Footer -->

<!-- End Footer -->
