<h2 style="color:rgb(0, 0, 0); margin-bottom:40px;">Utilisateurs</h2>
<button class="btn btn-success" style="margin-bottom:50px;"><a style="color:rgb(255, 255, 255);" href="#" routerLink="add/">ajouter un utilisateur</a></button>
<div class="table-responsive ">
            <table class="table  table-hover table-light table-sm">
                <thead>
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Gsm</th>
                    <th scope="col">Service</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Info</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let utilisateur of utilisateurs">
                    <td>{{utilisateur.id}}</td>
                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                    <td>{{utilisateur.email}}</td>
                    <td>{{utilisateur.matricule}}</td>
                    <td>{{utilisateur.adresse}}</td>
                    <td>{{utilisateur.gsm}}</td>
                    <td>{{utilisateur.serviceId}}</td>
                    <td><button type="button" class="btn btn-danger" (click)="delete(utilisateur.id)"><i class="fa-sharp fa-solid fa-trash" style="color: #ffffff;"></i></button></td>
                    <td><a href="#" routerLink="edit/{{utilisateur.id}}"><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button></a></td>
                    <td><a href="#" routerLink="{{utilisateur.id}}"><button type="button" class="btn btn-primary"><i class="fa-solid fa-info" style="color: #ffffff;"></i></button></a></td>
                </tr>
                </tbody>
            </table>
</div>
