



<div class="table-responsive ">
    <div class="top-table">
        <h3 style="color:rgb(0, 0, 0); margin-bottom:0.9em; opacity:0.8;">Services</h3>
        <button class="btn btn-success" style="margin-bottom:50px;margin:1em 3em;"><a style="color:rgb(255, 255, 255);" href="#" routerLink="add/">ajouter un Service</a></button>
    </div>
    <table  class="table  table-hover table-light">
        <thead>
        <tr >
            <th scope="col">ID</th>
            <th scope="col">Nom Service</th>
            <th scope="col">ID Direction</th>
            <th scope="col">ID Chef Service</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of Services" routerLink="/service/{{service.id}}">
                <td>{{service.id}}</td>
                <td>{{service.nomService}}</td>
                <td>{{service.idDirection}}</td>
                <td>{{service.idChefService}}</td>
                <td><button type="button" class="btn btn-danger" (click)="delete($event,service.id)"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center p-2 mt-2 border-top">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshUsers()"
        >
        </ngb-pagination>
      </div>

    
</div>
