
<div class="position-sticky pt-3 sidebar-sticky">
        <h2>Navigation</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
            <a routerLink="/utilisateur" class="nav-link active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                Utilisateur
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/service" class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                Service
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/direction" class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Direction
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/familles" class="nav-link" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                Familles
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/sousfamilles" class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Sous Familles
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/option" class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Option
            </a>
            </li>
        </ul>
</div>
