<div class="position-sticky pt-3 sidebar-sticky sidenav" [class]="this.class">
  <h2>Navigation</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        routerLink="/utilisateur"
        class="nav-link"
        aria-current="page"
        href="#"
      >
        <span data-feather="home" class="align-text-bottom"></span>
        <i class="fa-solid fa-user"></i>Utilisateur
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/service" class="nav-link" href="#">
        <span data-feather="file" class="align-text-bottom"></span>
        <i class="fa-solid fa-bolt"></i>Service
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/direction" class="nav-link" href="#">
        <span data-feather="shopping-cart" class="align-text-bottom"></span>
        <i class="fa-solid fa-location-crosshairs"></i>Direction
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/familles" class="nav-link" href="#">
        <span data-feather="users" class="align-text-bottom"></span>
        <i class="fa-solid fa-people-group"></i>Familles
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/sousfamilles" class="nav-link" href="#">
        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
        <i class="fa-solid fa-diagram-successor"></i>Sous Familles
      </a>
    </li>
  </ul>
</div>
