<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ID</label>
        <input type="email" class="form-control" value="{{utilisateurs.id}}" id="exampleFormControlInput1" placeholder="12345">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nom</label>
        <input type="email" class="form-control" value="{{utilisateurs.nom}}" id="exampleFormControlInput1" placeholder="jhon">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" value="{{utilisateurs.email}}" id="exampleFormControlInput1" placeholder="doe">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prenom</label>
        <input type="email" class="form-control" value="{{utilisateurs.prenom}}" id="exampleFormControlInput1" placeholder="doe">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Matricule</label>
        <input type="email" class="form-control" value="{{utilisateurs.matricule}}" id="exampleFormControlInput1" placeholder="ABC12">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Adresse</label>
        <input type="email" class="form-control" value="{{utilisateurs.adresse}}" id="exampleFormControlInput1" placeholder="rabat, rue 433">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gsm</label>
        <input type="email" class="form-control" value="{{utilisateurs.gsm}}" id="exampleFormControlInput1" placeholder="0606060606">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ID Service</label>
        <input type="email" class="form-control" value="{{utilisateurs.serviceId}}" id="exampleFormControlInput1" placeholder="1234567">
    </div>
    <button type="submit" class="btn btn-success">submit</button>
</form>