
<h2 style="color:white; margin-bottom:40px;">Familles</h2>
<div class="table-responsive ">
            <table class="table  table-hover table-striped table-dark table-sm">
                <thead>
                    <tr >
                        <th scope="col">ID</th>
                        <th scope="col">Nom famille</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Updated at</th>
                        <th scope="col">ID direction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                    <tr>
                        <td>1212129</td>
                        <td>Dev</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>10-10-2022 10:05:04 am</td>
                        <td>1212129</td>
                    </tr>
                </tbody>
            </table>
</div>
